body {
    background: rgb(81, 130, 187);
    font: normal 15pt Arial;    
}

header{
    color:rgb(255, 255, 255);
    text-align: center;
}
section{
    background-color: aliceblue;
    border-radius: 1px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.623);
}
footer{
    color: aliceblue;
    text-align: center;
}